---
import { Image } from "@astrojs/image/components";
import SvgIcon from "./Svg-Icon.astro";
import Profile from "../assets/images/profile.jpg";
---

<div class="drawer-side border-r-2 border-gray-light">
  <label for="my-drawer" class="drawer-overlay"></label>
  <div class="menu p-4 overflow-y-auto w-[25rem] text-base-content">
    <div class="w-fit">
      <a href="/">
        <div
          class="avatar transition ease-in-out w-1/2 hover:scale-[102%] block m-auto mt-3 mb-6"
        >
          <div>
            <Image
              class="mask mask-circle"
              src={Profile}
              alt="Atefeh Irani Profile Picture"
              quality={100}
            />
          </div>
        </div>
      </a>
    </div>
    <h1 class="font-semibold text-2xl">Atefeh Irani</h1>
    <div class="">PhD Candidate in Artificial Intelligence</div>
    <div class="">at University of Tehran</div>
    <div class="italic">Machine Learning, Cognitive Science</div>
    <div class="mt-5 pb-8">
      <div>
        <SvgIcon icon="briefcase-solid" /> Lead Full Stack Developer at Pars Cognition
        Co.
      </div>
      <div>
        <SvgIcon icon="cake-candles" />
        8 June 1993 (Age 29)
      </div>
      <div>
        <SvgIcon icon="family" />
        Mother of Mahdiyar :)
      </div>
      <div>
        <SvgIcon icon="envelope-regular" />
        <a href="mailto:a.irani@ut.ac.ir">a.irani@ut.ac.ir</a>
      </div>
    </div>
    <div class="text-l font-bold text-second pb-5">
      <a href="/download/resume.pdf" target="_blank">
        <SvgIcon icon="download" />
        Download My Resume
      </a>
    </div>
    <div class="social-icons px-4 my-2 flex self-center text-2xl">
      <a
        href="mailto:a.irani@ut.ac.ir"
        target="_blank"
        class="mx-3"
        aria-label="Email"
      >
        <SvgIcon icon="envelope-regular" />
      </a>
      <a
        href="https://scholar.google.com/citations?user=D1_rq98AAAAJ&hl=en"
        target="_blank"
        class="mx-3"
        aria-label="Google Scholar"
      >
        <SvgIcon icon="google-scholar" />
      </a>
      <a
        href="https://www.researchgate.net/profile/Atefeh-Irani"
        target="_blank"
        class="mx-3"
        aria-label="Google Scholar"
      >
        <SvgIcon icon="research-gate" />
      </a>
      <a
        href="https://github.com/irania"
        target="_blank"
        class="mx-3"
        aria-label="Github"
      >
        <SvgIcon icon="github" />
      </a>
      <a
        href="https://t.me/Iraniatf"
        target="_blank"
        class="mx-3"
        aria-label="Telegram"
      >
        <SvgIcon icon="telegram" />
      </a>
      <a
        href="https://www.linkedin.com/in/irania/"
        target="_blank"
        class="mx-3"
        aria-label="Linkedin"
      >
        <SvgIcon icon="linkedin" />
      </a>
    </div>
  </div>
</div>
